.Input {
    display: block;
    float: none;
    margin: auto;
    width: 400px;
    text-align: right;
}

.Label {
    font: inherit;
    font-weight: bold;
    margin-right: 10px;
    text-align: left;
}